*{

    box-sizing: border-box;
margin: 0;
padding: 0;

}

.gridcontenedor {

    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid wblack;
}

.gridcontenedorin{

    background-color: pink;
    border: 1px solid white;

 img{

height: 100%;
width:100%;
}}

.template-container{
    color: wheat;
    display: grid;
    background-color: rgb(120, 15, 15);
    grid-template-areas:
     'header header header header'
     'menu main main right' 
     'menu footer footer footer';

    header{
        height: 100px;
background-color: gray;
        grid-area: header;
    }

    menu{
        
        background-color: yellow;
        grid-area: menu;
    }

    main{

        height: 100px;
        background-color: green;
        grid-area: main;
    }

    right{

        height: 100px;
        background-color: salmon;
        grid-area: right;
    }

    footer{

        height: 100px;
        background-color: blue($color: #000000);
        grid-area: footer;
    }
}